<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="AglInterviewTest" description="Unicorn Serialization for AglInterviewTest application" dependencies="Sitecore.AglInterviewTest.Serialization" patch:after="configuration[@name='Sitecore.AglInterviewTest.Serialization']">
          <targetDataStore physicalRootPath="D:\AglInterviewTest\AglInterviewTest\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Person" database="master" path="/sitecore/templates/person" />
          </predicate>
          
          
        </configuration> 
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
