<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Sitecore.AglInterviewTest.Serialization" description="Unicorn Serialization for AglInterviewTest application">
          <targetDataStore physicalRootPath="D:\gitRepos\AGL_Interview\AglInterviewTest.Serialization\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/person" />
            <include name="Layouts" database="master" path="/sitecore/layout/layouts/person" />
            <include name="Renderings" database="master" path="/sitecore/layout/renderings/person" />
            <include name="Content" database="master" path="/sitecore/content/home" />
          </predicate>          
        </configuration> 
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
