@Model RenderingModel

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            @Html.Sitecore().Placeholder("Layout.2Col.Left")
        </div>
        <div class="col-sm-6">
            @Html.Sitecore().Placeholder("Layout.2Col.Right")
        </div>
    </div>
</div>


